@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nunito-Regular";
    font-display: swap;
    src: url("../Fonts/Nunito-Regular.ttf") format("woff2");
}
@font-face {
    font-family: "Nunito-Bold";
    font-display: swap;
    src: url("../Fonts/Nunito-Bold.ttf") format("woff2");
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Nunito-Bold";
    color:white;
}
h1{
    font-size: 8rem;
    margin-left:-10px;
}
h5{
    font-size:3.2rem;
}
p{
    font-family: "Nunito-Regular";
    font-size:1.5rem;
    color:white;
}
section,header,footer{
    padding-top:5rem;
    padding-bottom:5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 2000px;
} 


/*Media queries*/

/* Media query for screens between 768px and 1536px */
@media screen and (min-width: 900px) and (max-width: 1536px) {
    section, header, footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
/* Media query for screens larger than or equal to 1536px */
@media (min-width: 1536px) {
    section, header, footer {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    /* Additional styles for elements within the header */
}
